<div class="container">
  <app-search-bar (searchEvent)="getPokemons($event)"></app-search-bar>
  <app-pagination
    [length]="pokemonsCount | async"
    (pokemonsCountRequest)="getPokemons($event)"
  ></app-pagination>
</div>
<div class="centerLoader">
  @if (loading) {
    <mat-spinner></mat-spinner>
  } @else {
    @if (pokemons.length > 0) {
      <div class="container">
        @for (pokemon of pokemons; track pokemon) {
          <app-card [pokemon]="pokemon" (getPokemonEvent)="openDialog($event)"></app-card>
        }
      </div>
    } @else {
      <p>There is no pokemons, sorry</p>
    }
  }
</div>
