<div class="container">
  <a mat-button routerLink="/">Back to pokedex</a>
  <div class="list">
    <ng-container *ngIf="(pokeball$ | async)?.length !== 0; else noPokemons">
      <mat-card class="example-card" *ngFor="let pokemon of pokeball$ | async">
        <mat-card-header>
          <div
            mat-card-avatar
            class="example-header-image"
            [ngStyle]="{ 'background-image': 'url(' + pokemon.sprites.front_default + ')' }"
          ></div>
          <mat-card-title>{{ pokemon.name }}</mat-card-title>
          <mat-card-subtitle>{{ pokemon.height }}</mat-card-subtitle>
        </mat-card-header>
        <img
          class="img_size"
          mat-card-image
          src="{{ pokemon.src }}"
          alt="Photo of pokemon {{ pokemon.name }}"
        />
      </mat-card>
    </ng-container>
  </div>
</div>

<ng-template #noPokemons>
  <p>Why do you still not have pokemon?!</p>
</ng-template>
