<mat-card class="example-card">
  <mat-card-header>
    <div
      mat-card-avatar
      class="example-header-image"
      [ngStyle]="{ 'background-image': 'url(' + data.pokemon.sprites.front_default + ')' }"
    ></div>
    <mat-card-title>{{ data.pokemon.name }}</mat-card-title>
    <mat-card-subtitle>{{ data.pokemon.height }}</mat-card-subtitle>
  </mat-card-header>
  <img
    class="img_size"
    mat-card-image
    src="{{ data.pokemon.src }}"
    alt="Photo of pokemon {{ data.pokemon.name }}"
  />
  <mat-card-actions>
    <button mat-button (click)="addToPokeballClick()">Add to pokedex</button>
  </mat-card-actions>
</mat-card>
